
body{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
    "header header header header header"
        "main main auto aouto aside"
        "footer footer footer footer footer" ;
    font-family: sans-serif;
    background-color: rgb(127, 146, 255);
  
}

header{
    display: grid;
    grid-area:header;
    grid-template-areas: "logo navbar   login";
    background-color: rgb(107, 107, 197);
}
#logo{
    grid-area: logo;
    background-color: rgb(178, 32, 122);
    margin: 0px;

}
#navbar{
    grid-area: navbar;
    display: grid;

    grid-template-areas: "list list list ";
    
    
}
 header nav ul li{
     
     background-color: aqua;
     margin-right: 40px;
     
     

 }
#login{
    grid-area: login;
    background-color:aliceblue;
    padding: 10px;
    margin: 0px;
   
    
}

header nav ul {
    list-style: none;
    
}

header nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}



main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "introHeadline"
        "introSubText"
        "articleZone  ";
    background-color: lightgray;
}

#introHeadline {
    grid-area: introHeadline;
    background-color: rgb(255, 0, 242);
    color: rgb(0, 0, 0);
}

#introSubText {
    grid-area: introSubText;
    background-color: rgb(255, 230, 0);
    color: rgb(0, 0, 0);
}

#articleZone{
    display: grid;
    grid-template-areas: " articleArea articleArea";
    grid-area: articleZone;
}

.articleZone1 {
    
    background-color: rgb(0, 174, 255);
    color: rgb(175, 26, 26);
}


.articleZone2 {
    
    background-color: rgb(25, 0, 255);
    color: rgb(247, 242, 242);
}

aside {
    grid-area: aside;
    background-color:bisque;
    color: rgb(20, 19, 19);
}

footer {
    grid-area: footer;
    background-color: brown;
    color: white;
}



main>h1{
    margin-left:33%;
    width: 1024px;
    text-transform: uppercase;    
}

form{
    display:block;
    background-color: rgb(42, 165, 89);
    text-align: center;
    border-radius: 20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom: 7%;
    background-color:rgb(22, 206, 129);
    align-items: center;
    padding-top: 5%;

}

form>input{
    display: inline-block;
    align-items: center;
    margin-bottom: 5%;
}

#signin{
    background-color: yellowgreen;
    color: black;
}








 